*/*{
     background-color: dimgray;
}
h1{
     background-color: chocolate;
}
p{
     background-color: aquamarine;
     color: red;
}*/
/* #p1{
     background-color: cadetblue;
     color: black;
}
.paragraph{
     background-color: red;
     color: white;
     font-size: xx-large;
} */

div~p{
background-color: blue;
color: white;
}

p::before{
     content: "Welcome to ABES Engineering College --";
}
p::after{
     content: "We have successfully completed this program";
     background-color: aqua;
     font-size: xx-large;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

p::selection{
     background-color: chartreuse;
}