.box {
     display: grid;
     grid-template-columns:repeat(4, 1fr);
     grid-template-rows: 200px 400px 200px;
     height: 600px;
     width: 800px;
     border: 2px solid red;
}
.box1 {
     height: 150px;
     width: 150px;
     border: 2px solid red;
     background-color: pink;
}
.box2 {
     height: 150px;
     width: 150px;
     border: 2px solid red;
     background-color: palevioletred;
}
.box3 {
     height: 150px;
     width: 150px;
     border: 2px solid red;
     background-color: gold;
}
.box4 {
     height: 150px;
     width: 150px;
     border: 2px solid red;
     background-color: deepskyblue;
}