.box {
     display: flex;
     border: 1px solid red;
     height: 500px;
     width: 800px;
     margin: 5px;
     background-color: aqua;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: space-evenly;
}
.box1 {
     height: 150px;
     width: 150px;
     border: 2px dotted gold;
     background-color: cadetblue;
}
.box2 {
     height: 150px;
     width: 150px;
     border: 2px dotted greenyellow;
     background-color: cadetblue;
}
.box3 {
     height: 150px;
     width: 150px;
     border: 2px dotted ghostwhite;
     background-color: cadetblue;
}
.box4 {
     height: 150px;
     width: 150px;
     border: 2px dotted blue;
     background-color: cadetblue;
}
/* .box5 {
     height: 150px;
     width: 150px;
     border: 2px dotted blue;
     background-color: cadetblue;
}
.box6 {
     height: 150px;
     width: 150px;
     border: 2px dotted blue;
     background-color: cadetblue;
}
.box7 {
     height: 150px;
     width: 150px;
     border: 2px dotted blue;
     background-color: cadetblue;
}
.box8 {
     height: 150px;
     width: 150px;
     border: 2px dotted blue;
     background-color: cadetblue;
} */
